---
layout: page
---
<section>
  <div class="row splash">
    <h2>
      TICKETS ON SALE NOW
    </h2>
    <p>
      <a href="https://tito.io/rulu/rulu-2013">Get your ticket</a> for RuLu 2013 Ruby Conference!
    </p>
  </div>
</section>
<div style="text-align:center;">

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://widget.mailjet.com/545cbc76f2ee9779132b9197524062cee8159a1f.html" width="450" height="130"></iframe>
</div>

<div class="row divider">
  <div class="wave"></div>
  <div class="ruby-small"></div>
  <div class="wave"></div>
</div>

<div class="row">
  <section id="description" class="span8">
    <p>
      <a href="/">Ruby Lugdunum 2013</a>
      (a.k.a Rulu) is a
      <a href="/schedule">two-day Ruby conference+workshop event</a>
      happening in
      <a href="http://goo.gl/maps/ItngA" target="_blank">Lyon, France</a>.
    </p>
    <p>
      It features <strong>great talks</strong>,
      plenty of time to <strong>meet people</strong>
      and <strong>awesome food</strong>!
    </p>

    <section id="conf-details" class="row">
      <div class="span12">
        <h2><img src="assets/img/venue-ribbon.png"></h2>
      </div>
      <div id="venue-description" class="description">
        <h3>Manufacture des Tabacs <small>(a.k.a "La Manu")</small></h3>
        <p>RuLu 2013 will be held in the
          <i><a href="http://goo.gl/maps/geADY" target="_blank">Manufacture des Tabacs</a></i>:
        an ancient tobacco
        plant converted into a university in the early 90's. Talks will take place in
        the large <i>Auditorium André Malraux</i> while the <i>south court</i>
        will be reserved to Rulu attendees to have drinks, hack and socialize.</p>
        <p>The <i>Manufacture des Tabacs</i> is close by <i>Lyon Part Dieu</i>, the main train station of Lyon.</p>
      </div>
      <img id="venue-img" src="assets/img/venue/manufacture-night.png" title="Credits to @matubu on Flickr">

      <hr class="spacer">

      {% include speakers.html %}

      <hr class="spacer">

      <div class="span12">
        <h2><img src="assets/img/after-party-ribbon.png"></h2>
      </div>

      <div id="party-description" class="description">
        <h3>Le Koodeta <small> Thursday 20th - 19:00</small></h3>
        <p>
        All Rulu attendees and speakers are invited to a Dinner &amp; Party</a> at
        <a href="http://goo.gl/maps/geADY" target="_blank">Le Koodeta</a>,
        a Gourmet Restaurant &amp; Pub
        located 15 minutes walk from the venue.

        Le Koodeta features a large patio with olive trees, an outdoor bar and confy sofas.
        </p>
      </div>
      <img id="koodeta-img" src="/assets/img/koodeta-collage-500.png"/>

      <hr class="spacer">

      <div class="span12">
        <h2><img src="assets/img/trailer-ribbon.png"></h2>
      </div>

      <div class="description">
        <h3>Remember 2012</h3>
        <p>
          RuLu 2012
          was helded in "La Manu"
          and
          featured
          <a href="http://2012.rulu.eu/speakers/"
            title="RuLu 2012 talks">great talks</a>
          from
          <a href="http://www.youtube.com/watch?v=LW863DOXqZQ">Thibaut Barrère</a>,
          <a href="http://www.youtube.com/watch?v=-jQRuSjVeu0">Alex Koppel</a>,
          <a href="http://www.youtube.com/watch?v=y5k8JyaFBZk">Anthony Eden</a>,
          <a href="http://www.youtube.com/watch?v=NG8goJpbKk0">Konstantin Haase</a>,
          <a href="http://www.youtube.com/watch?v=JxPKljUkFQw">Brandon Keepers</a>,
          <a href="http://www.youtube.com/watch?v=AqDEgNlyjvo">Dave Neary</a>,
          <a href="http://www.youtube.com/watch?v=wCyTRdtKm98">Xavier Noria</a>,
          <a href="http://www.youtube.com/watch?v=GeGAtGhgPeU">Marcin Olichwirowicz</a>,
          <a href="http://www.youtube.com/watch?v=MkaLSL09eQM">Rogelio Samour</a>,
          <a href="http://www.youtube.com/watch?v=aw95qqbe4_Y">Laurent Sansonetti</a>,
          <a href="http://www.youtube.com/watch?v=BBml-8p-O8E">Thorben Schröder</a>,
          <a href="http://www.youtube.com/watch?v=kOnbcPlVFdU">Piotr Solnica</a>,
          <a href="http://www.youtube.com/watch?v=TqPzxrCIJTs">Roy Tomeij</a>
          and
          <a href="http://www.youtube.com/watch?v=I2KeHOtgUUk">Joan Wolkerstorfer</a>.
        </p>
        <iframe id="ytplayer" type="text/html" width="560" height="315"
          src="http://www.youtube.com/embed/QV47iLvh2ZQ?origin=http://rulu.eu&autohide=1"
          class="video"
          frameborder="0">
        </iframe>
      </div>

    </section>

    <div id="twitter">
      <img src="assets/img/twitter-icon.png">
      <span id="tweet"></span>
      <a href="https://twitter.com/rulu" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @rulu</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </section>
  {% include sponsors.html %}
</div>
