<header class="row">
  <div>
    <h1><a href="/">Ruby Lugdunum<br/>
        <span id="aka">a.k.a</span> Rulu 2013</a></h1>
  </div>
  <div id="logo">
    <a href="/">
      <img src="/assets/img/logo.png" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href='/policies'>Anti-Harassment Policy</a></li>
      <li><a href='http://2012.rulu.eu'>RuLu 2012</a></li>
    </ul>
    <ul>
      <li><a href="/speakers">Speakers</a></li>
      <li><a href="/schedule/">Schedule</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
    </ul>
  </nav>
</header>


