<div class="span12">
  <h2><img src="/assets/img/speakers-ribbon.png"></h2>
</div>
<div class="slideshow span12">
  <div class="previous button">
    <a href=""></a>
  </div>
  <div id="speakers">

    <div class="speaker">
      <img src="/assets/img/speakers/pj.jpeg" alt="PJ Hagerty">
      <span class="speaker-info author">PJ Hagerty</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/aspleenic" target="_blank">aspleenic</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/aspleenic" target="_blank">@aspleenic</a></span>
      <span class="speaker-info company">Company: <a href="https://www.engineyard.com/" target="_blank">Engine Yard</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/greg.png" alt="Greg Karékinian">
      <span class="speaker-info author">Greg Karékinian</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://blog.karekinian.com/" target="_blank">Greg Karékinian</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/gkarekinian">@gkarekinian</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/gkarekinian">@gkarekinian</a></span>
      <span class="speaker-info company">Company: <a href="http://greenalto.com">Green Alto</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/benjamin.jpeg" alt="Benjamin Smith">
      <span class="speaker-info author">Benjamin Smith</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://lagndary.appspot.com/pivotallabs.com/author/bsmith" target="_blank">bsmith</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/benjaminleesmith" target="_blank">benjaminleesmith</a></span>
      <span class="speaker-info company">Company: <a href="http://pivotallabs.com" target="_blank">Pivotal Labs</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/jeremy.jpeg" alt="Jérémy Lecour">
      <span class="speaker-info author">Jérémy Lecour</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://jeremy.wordpress.com" target="_blank">jeremy</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/jlecour" target="_blank">jlecour</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/jlecour" target="_blank">@jlecour</a></span>
      <span class="speaker-info company">Company: <a href="http://hotelhotel.com" target="_blank">HotelHotel</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/joshua.jpeg" alt="Joshua Ballanco">
      <span class="speaker-info author">Joshua Ballanco</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/jballanc">jballanc</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/manhattanmetric">@manhattanmetric</a></span>
      <span class="speaker-info company">Company: <a href="http://www.burnsidedigital.com/">Burnside Digital</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/thomas.jpeg" alt="Thomas Riboulet">
      <span class="speaker-info author">Thomas Riboulet</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://randomdev.tumblr.com/" target="_blank">Random dev</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/mcansky">mcansky</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/mcansky">@mcansky</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/michael.jpeg" alt="Michael Wawra">
      <span class="speaker-info author">Michael Wawra</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/xmjw">xmjw</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/xmjw">@xmjw</a></span>
      <span class="speaker-info company">Company: <a href="http://www.twilio.com">Twilio</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/arne.png" alt="Arne Brasseur">
      <span class="speaker-info author">Arne Brasseur</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://devblog.arnebrasseur.net/" target="_blank">arnebrasseur.net</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/plexus">@plexus</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/plexus">@plexus</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/vincent.jpeg" alt="Vincent Tourraine">
      <span class="speaker-info author">Vincent Tourraine</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://www.vtourraine.net/blog/" target="_blank">vtourraine.net</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/vtourraine">vtourraine</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/vtourraine">@vtourraine</a></span>
      <span class="speaker-info company">Company: <a href="http://www.shazino.com/">shazino</a></span>
    </div>

  </div>
  <div class="next button">
    <a href=""></a>
  </div>
  <div class="footer">
    <a href="/schedule">Schedule</a>
    -
    <a href="/talks">Talks details</a>
  </div>
</div>
