<div class="span12">
  <h2><img src="/assets/img/speakers-ribbon.png"></h2>
</div>
<div class="slideshow span12">
  <div class="previous button">
    <a href=""></a>
  </div>
  <div id="speakers">

    <div class="speaker">
      <img src="/assets/img/speakers/pj.jpeg" alt="PJ Hagerty">
      <span class="speaker-info author">PJ Hagerty</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/aspleenic">aspleenic</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/aspleenic">@aspleenic</a></span>
      <span class="speaker-info company">Company: <a href="https://www.engineyard.com/">Engine Yard</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/carina.jpeg" alt="Carina C. Zona">
      <span class="speaker-info author">Carina C. Zona</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://cczona.com/">cczona.com</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/cczona">cczona</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/cczona">@cczona</a></span>
    </div>

    <div class="speaker">
      <img src="/assets/img/speakers/benjamin.jpeg" alt="Benjamin Smith">
      <span class="speaker-info author">Benjamin Smith</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://lagndary.appspot.com/pivotallabs.com/author/bsmith">bsmith</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/benjaminleesmith">benjaminleesmith</a></span>
      <span class="speaker-info company">Company: <a href="http://pivotallabs.com">Pivotal Labs</a></span>
    </div>

    <div class="speaker">

      <img src="/assets/img/speakers/jeremy.jpeg" alt="Jérémy Lecour">
      <span class="speaker-info author">Jérémy Lecour</span>
      <span class="divider"></span>
      <span class="speaker-info blog">Blog: <a href="http://jeremy.wordpress.com">jeremy</a></span>
      <span class="speaker-info github">Github: <a href="http://github.com/jlecour">jlecour</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/jlecour">@jlecour</a></span>
      <span class="speaker-info company">Company: <a href="http://hotelhotel.com">HotelHotel</a></span>
    </div>

    <!--
    <div class="speaker">
      <img src="/assets/img/speakers/TODO.png" alt="TODO">
      <span class="speaker-info author">TODO</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/TODO">TODO</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/TODO">@TODO</a></span>
      <span class="speaker-info company">Company: <a href="http://TODO">TODO</a></span>
    </div>
    -->

  </div>
  <div class="next button">
    <a href=""></a>
  </div>
  <div class="footer">
    <a href="/schedule">Schedule</a>
    -
    <a href="/speakers">Speakers details</a>
  </div>
</div>
