<div class="span12">
  <h2><img src="/assets/img/speakers-ribbon.png"></h2>
</div>
<div class="slideshow span12">
  <div class="previous button">
    <a href=""></a>
  </div>
  <div id="speakers">
    <!--<div class="speaker">
      <img src="/assets/img/speakers/thibaut.png" alt="Thibaut Barrère">
      <span class="speaker-info author">Thibaut Barrère</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/thbarl">@thbar</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/thibaut_barrere">@thibaut_barrere</a></span>
      <span class="speaker-info company">Company: <a href="http://www.logeek.fr">LoGeek</a></span>
    </div>-->
  </div>
  <div class="next button">
    <a href=""></a>
  </div>
  <div class="footer">
    <a href="/schedule">Schedule</a>
    -
    <a href="/speakers">Talks & Speakers details</a>
  </div>
</div>
