<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Twilio</h3>
      <div class="span6">
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/twilio" target="_blank">@twilio</a></span>
      </div>
    </div>
    <a href="http://www.twilio.com" target="_blank"><img src="/assets/img/sponsors/twilio.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Twilio powers the future of business communications, enabling phones, VoIP, and messaging to be embedded into web, desktop, and mobile software. We take care of the messy telecom hardware and expose a globally available cloud API that developers can interact with to build intelligent &amp; complex communications systems. As your app’s usage scales up or down, Twilio automatically scales with you. You only pay for what you use - no contracts, no shenanigans.
    </div>
  </div>
</article>

<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Github</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/github" target="_blank">@github</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/github" target="_blank">@github</a></span>
      </div>
    </div>
    <a href="http://www.github.com" target="_blank"><img src="/assets/img/sponsors/github.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      GitHub is the best place to share code with friends, co-workers,
      classmates, and complete strangers. Over a million people use GitHub to build amazing things together.
      With the collaborative features of GitHub.com, our desktop and mobile apps,
      and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.
    </div>
  </div>
</article>

<article>
  <div class="span6">
    <header class="row">
      <h3><span></span>Perfect Memory</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/PerfectMemory" target="_blank">@PerfectMemory</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/semanticbus" target="_blank">@semanticbus</a></span>
      </div>
    </div>
    <a href="http://www.perfect-memory.com/" target="_blank"><img src="/assets/img/sponsors/perfect-memory.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      <p>
        Perfect Memory provides an innovative way to access the multimedia content and its associated metadata to ease it exploitation (display, auto-editing, publishing) and reduce its management cost. We want to make accessible to all the management and development of multimedia content.
      </p>
      <p>
        Perfect Memory provides a PaaS platform for the preservation, management and valuation of multimedia content.
      </p>
      <p>
        Our product:
      </p>
      <ul>
        <li>enriches the existing infrastructure at low cost,</li>
        <li>provides a GUI to explore, tag and visualize large volume of multimedia content</li>
        <li>automatic processing of the content (enrichment, editing, tagging, 360° publishing)</li>
      </ul>
      <p>
        Our makets:
      </p>
      <ul>
        <li>Broadcasters, advertising, Media (Niche market)</li>
        <li>Multi sites enterprises</li>
        <li>Big business of insurance &amp; bank.</li>
        <li>B2G: Tourism &amp; Museum asset preservation and valorization.</li>
      </ul>
    </div>
  </div>
  <div class="row">
  </div>
</article>

<article>
  <div class="span6">
    <header class="row">
      <h3>Gemnasium</h3>
      <div class="span6">
        <span class="sponsor-info blog">Blog: <a href="https://discuss.gemnasium.com" target="_blank">discuss.gemnasium.com</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/gemnasiumapp" target="_blank">@gemnasiumapp</a></span>
      </div>
    </div>
    <a href="http://gemnasium.com" target="_blank"><img src="/assets/img/sponsors/gemnasium.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      <p>Keep your projects in shape with Gemnasium! <a href="http://gemnasium.com">Gemnasium</a> is an online tool to monitor ruby and javascript projects dependencies. Technology watch is taking more and more time, especially with environments like ruby or javascript, which are likely to change every day. The recent security advisories on ruby is a good example. It can be very time consuming to check all projects against these rails / json / devise / &#8230; / versions.</p>
      <p>Gemnasium will scan projects repositories, looking for dependency files (Gemfile, Gemfile.lock, gemspec, package.json, npm-shrinkwrap.json). A color code will be applied to the project, based of the dependencies status : - Green (All systems go, Capt'n!) - Yellow (We can do better!) - Red (I see troubles in the way!).</p>
      <p>Gemnasium is 100% free for open-source projects, and plans for private projects start at $5 (and based on the number of private repositories). Github integration brings real-time updates about dependencies status, as well as user authentication if needed (via oath). Gemnasium provides lots of data on more than 50.000 gems and node packages.</p>
    </div>
  </div>
  <div class="row">
  </div>
</article>

<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>AppSignal</h3>
      <div class="span6">
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/appsignal" target="_blank">@appsignal</a></span>
      </div>
    </div>
    <a href="http://appsignal.com" target="_blank"><img src="/assets/img/sponsors/appsignal.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Monitor the crap out of your app. Build better, faster Ruby on Rails apps by tracking errors and monitoring performance. All from a single app! Start your 30 day free trial of AppSignal today (no credit card required).
    </div>
  </div>
</article>
