<!--<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>af83</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/AF83">@af83</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/af83">@af83</a></span>
      </div>
    </div>
    <a href="http://www.af83.fr"><img src="/assets/img/sponsors/af83-simple.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      af83 is an innovative company with offices in Paris and San Francisco, 
      specializing in experience design, technology and communication. 
      Our front line is helping companies design and develop next-generation digital 
      services and transform their users into digital natives. We are a cheerful, 
      driven bunch of 50+ developers, designers, engineers, and project managers, 
      striving to make our clients, colleagues and partners happy - really happy 
      not just somewhat content.<br/>
      We’ve been building awesome things every day since 2006, with loads of 
      nice code and cool Open Source tech, because it’s in our DNA. We heavily
      use Ruby, C and Server Side JavaScript, with NoSQL solutions. We like 
      playing with shiny new stuff while making earthquake, tsunami and even 
      Cthulhu-resistant architectures.<br/>
      We have a gazillion projects on GitHub 
      https://github.com/af83, some of which are actually useful! You can also
      find us on our developers’ blog http://dev.af83.com and, of course, on 
      our website http://af83.com.
    </div>
  </div>
</article>

<br/>-->