<section id="sponsors" class="span4">

  <div class="package">
    <img src="/assets/img/ribon-party-sponsors.png" class="ribon">
    <div class="logo">
      <a href="http://twilio.com/" target="_blank">
        <img src="/assets/img/sponsors/twilio.png"/>
      </a>
    </div>
  </div>

  <div class="package">
    <img src="/assets/img/ribon-silver-sponsors.png" class="ribon">
    <div class="logo" style="padding:0 20px;">
      <a href="http://github.com/" target="_blank">
        <img src="/assets/img/sponsors/github.png"/>
      </a>
    </div>
  </div>

  <div class="package">
    <img src="/assets/img/ribon-bronze-sponsors.png" class="ribon">
    <div class="logo">
      <a href="http://perfect-memory.com" target="_blank">
        <img src="/assets/img/sponsors/perfect-memory.png"/>
      </a>
    </div>
  </div>

  <div class="package">
    <img src="/assets/img/ribon-bronze-sponsors.png" class="ribon">
    <div class="logo">
      <a href="http://appsignal.com" target="_blank">
        <img src="/assets/img/sponsors/appsignal.png"/>
      </a>
    </div>
  </div>

  <div class="package">
    <img src="/assets/img/ribon-media-partner.png" class="ribon">
    <div class="logo">
      <a href="http://news.humancoders.com/" target="_blank">
        <img src="/assets/img/sponsors/humancoders.png"/>
      </a>
    </div>
  </div>

</section>
