<section id="sponsors" class="span4">
  <div class="package ruby">
    <img src="/assets/img/ribon-ruby-sponsors.png" class="ribon">
    <!--<div id="af83-logo" class="logo"><a href="http://af83.com/"></a></div>-->
    <p class="sponsoring-link"><a href="/assets/documents/rulu_sponsoring_2012.pdf">Interested in sponsoring RuLu as a Ruby sponsor ?</a></p>
  </div>
  <div class="package gold">
    <img src="/assets/img/ribon-gold-sponsors.png" class="ribon">
    <!--<div id="tigerlily-logo" class="logo"><a href="http://www.tigerlilyapps.com/"></a></div>-->
    <p class="sponsoring-link"><a href="/assets/documents/rulu_sponsoring_2012.pdf">Interested in sponsoring RuLu as a Gold sponsor ?</a></p>
  </div>
  <div class="package silver">
    <img src="/assets/img/ribon-silver-sponsors.png" class="ribon">
    <!--<div id="dnsimple-logo" class="logo"></div>-->
    <!--<div id="pierlis-logo" class="logo">
      <a href="http://pierlis.com/">
        <img src="/assets/img/sponsors/pierlis.png"/>
      </a>
    </div>-->
    <p class="sponsoring-link"><a href="/assets/documents/rulu_sponsoring_2012.pdf">Interested in sponsoring RuLu as a Silver sponsor ?</a></p>
  </div>
  <div class="package bronze">
    <img src="/assets/img/ribon-bronze-sponsors.png" class="ribon">
    <!--<div id="studiomelipone-logo" class="logo">
      <a href="http://studiomelipone.eu/">
        <img src="/assets/img/sponsors/studiomelipone.png"/>
      </a>
    </div>-->
    <p class="sponsoring-link"><a href="/assets/documents/rulu_sponsoring_2012.pdf">Interested in sponsoring RuLu as a Bronze sponsor ?</a></p>
  </div>
  <p class="sponsoring-link">
    <a href="/assets/documents/rulu_sponsoring_2012.pdf">Interested in sponsoring RuLu ?</a>
  </p>
</section>
