<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Github</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/github" target="_blank">@github</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/github" target="_blank">@github</a></span>
      </div>
    </div>
    <a href="http://www.github.com" target="_blank"><img src="/assets/img/sponsors/github.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      GitHub is the best place to share code with friends, co-workers,
      classmates, and complete strangers. Over a million people use GitHub to build amazing things together.

      With the collaborative features of GitHub.com, our desktop and mobile apps,
      and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.
    </div>
  </div>
</article>
