<article>
  <header class="row">
    <div class="span8">
      <h3>
        Carina C. Zona
      </h3>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://cczona.com/" target="_blank">cczona.com</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/cczona" target="_blank">cczona</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/cczona" target="_blank">@cczona</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/carina.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Carina C. Zona is a web developer and consultant. She has taught for Girl Develop It, Black Girls Code, RailsBridge, PyLadies, and RailsGirls. She served on RailsBridge core team and Women Who Code core team. She is also a certified sex educator. In her spare time, she engineers baked goods.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Benjamin Smith
        <i>from</i>
        <span class="company">
          <a href="http://pivotallabs.com">Pivotal Labs</a>
        </span>
      </h3>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://lagndary.appspot.com/pivotallabs.com/author/bsmith" target="_blank">bsmith</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/benjaminleesmith" target="_blank">benjaminleesmith</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/benjamin.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Benjamin is a developer at Pivotal Labs. He has a strong passion for TDD, pairing, Agile and using technologies that get out of the programmer’s way (or the programmer out of the way). When not writing code, he follows his other passions into the outdoors to rock climb, back country snowboard, kayak and surf.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        PJ Hagerty
        <i>from</i>
        <span class="company">
          <a href="http://engineyard.com">Engine Yard</a>
        </span>
      </h3>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/aspleenic" target="_blank">aspleenic</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/aspleenic" target="_blank">@aspleenic</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/pj.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      A Ruby on Rails developer for the last 4 years, I currently work at Engine Yard as the US-East Team Lead and Community Lead for their world-class Application Support team. Additionally, I organize the Western New York Ruby Brigade. Traveling to conferences and Ruby meet ups around the US and Canada, I like to spread the word on the importance of community and coding, stressing the importance of outreach and focusing on the human side of being a coder.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Jérémy Lecour
        <i>from</i>
        <span class="company">
          <a href="http://hotelhotel.com">HotelHotel</a>
        </span>
      </h3>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://jeremy.wordpress.com" target="_blank">jeremy</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/jlecour" target="_blank">jlecour</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/jlecour" target="_blank">@jlecour</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/jeremy.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
        Jérémy has been a web developer for 12 years,
        passionate about all things relating to the web tech and always curious
        about new things to learn and use in his work and play.
        He has lead a small team for 4 years that use a heady mix
        of old and new tech on a site that helps search for and compare hotels.
        Jérémy is a
        <a href="http://coderetreat.org/" target="_blank">Code Retreat facilitator</a>
        and a core member of both
        Provence Linux User Group (PLUG) and
        <a href="http://www.pastisrb.org/" target="_blank">Pastis Ruby Brigade</a>
        in Marseille.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Joshua Ballanco
        <i>from</i>
        <span class="company">
          <a href="http://www.burnsidedigital.com/">Burnside Digital</a>
        </span>
      </h3>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/jballanc">jballanc</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/manhattanmetric">@manhattanmetric</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/joshua.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Joshua has worked with Objective-C since 2002 and Ruby since 2004.
      He has built operating systems with Apple, local news websites with AOL,
      and somehow managed to finish a Ph.D. along the way.
      Currently, Joshua is Chief Scientist at Burnside Digital
      where he works with an amazing team of engineers
      and designers to solve problems for a wide range of clients.
      He works and lives in Ankara.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Thomas Riboulet
      </h3>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://randomdev.tumblr.com/" target="_blank">Random dev</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/mcansky">mcansky</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/mcansky">@mcansky</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/thomas.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Born in the south of France, raised in the wild with cats
      and dogs with Apple computers and Tolkien stories.
      Difficult to avoid the family trade and by 2000 he was writing code
      and compiling kernels.
      After riding a dragon and crossed Oz by train he came back
      to old Europe to write articles and solve problems in Ruby.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Michael Wawra
        <i>from</i>
        <span class="company">
          <a href="http://www.twilio.com">Twilio</a>
        </span>
      </h3>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/xmjw">xmjw</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/xmjw">@xmjw</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/michael.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Michael is a developer evangelist at Twilio, helping people embrace cloud communications. He loves anything that can be programmed, especially things that can be connected into Lego. Prior to Twilio, Michael was consulting in the City of London - mostly building other peoples' websites. He was once involved in Telecoms R&amp;D, and has a guilt-inducing software patent around the Linux IP Stack. He is forever looking for good causes to contribute code to, and always looking to iterate and make stuff better!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Arne Brasseur
      </h3>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://devblog.arnebrasseur.net/" target="_blank">arnebrasseur.net</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/plexus">@plexus</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/plexus">@plexus</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/arne.png" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Arne is a professional software developer focused on web development.
      He's been passionate about Ruby since 2006, but has only really become
      involved in the community after moving to Berlin in 2012.
      He has worked in various fields, from e-commerce for telecom,
      concert tickets and resale, to medical OCR/OMR applications,
      and has made contributions to several Free and Open Source projects.
      His personal interests include both natural and formal languages,
      and he spent the best of two years in the far east learning
      to speak and write Chinese.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Vincent Tourraine
        <i>from</i>
        <span class="company">
          <a href="http://www.shazino.com/">shazino</a>
        </span>
      </h3>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://www.vtourraine.net/blog/" target="_blank">vtourraine.net</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/vtourraine">vtourraine</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/vtourraine">@vtourraine</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/vincent.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
      Vincent is a mobile developer focused on iOS,
      but he also builds websites from time to time.
      He lives in the beautiful city of Lyon and he works at Shazino,
      where he explores various Web Services in the name of Science.
      He also builds his own iOS apps at Studio AMANgA.
      Vincent loves looking at pixels, and things from outer space.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
    </div>
  </div>
</article>
