<!--<article id="talk_1">
  <header class="row">
    <div class="span8">
      <h3><span></span>Transforming your data with Ruby and <a href="http://www.activewarehouse.info/">ActiveWarehouse-ETL</a></h3>
      <h4>
        Thibaut Barrère
        <i>from</i>
        <span class="company">
          <a href="http://www.logeek.fr">LoGeek</a>
        </span>
      </h4>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/thbarl">@thbar</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/thibaut_barrere">@thibaut_barrere</a></span>
      </div>
      <span class="tags-title">Tags: </span>
      <span class="label">datawarehouse</span>
      <span class="label">etl</span>
      <span class="label">gem</span>
    </div>

    <div class="span2 avatar coverage">
      <img src="/assets/img/speakers/thibaut.png" class="avatar">
      <span class="coverage">
        <a href="https://speakerdeck.com/u/thbar/p/transforming-data-with-ruby-and-activewarehouse-etl">Slides</a>
        |
        <a href="http://www.youtube.com/watch?v=LW863DOXqZQ&feature=plcp">Video</a>
      </span>
    </div>

  </header>
  <div class="row">
    <div class="span8">
      <p>This talk will show how to use ActiveWarehouse-ETL to extract, transform and move your data around in Ruby, and what other people do in real life with this toolkit.</p>
      <p>1# Beginner guide to ActiveWarehouse-ETL</p>
      <ul>
        <li>Gem presentation (concepts etc)</li>
        <li>Beginner examples of data processing</li>
      </ul>
      <p>2# Real-life examples all in Ruby:</p>
      <ul>
        <li>Extracting data from a CRM to build a metrics dimensional dashboard (business intelligence)</li>
        <li>Extracting and geocoding places before publishing a map on the web</li>
        <li>Adapting data for consumption by COBOL systems</li>
        <li>Cleaning and extending the CRM</li>
        <li>Extracting only what changed (aka Change Data Capture)</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span8">
      <p>Thibaut Barrère is a Ruby freelancer since 2005, doing data processing on a regular basis since then too.</p>
      <p>He is also bootstrapping a Rails-based SaaS product <a href="https://www.wisecashhq.com">WiseCashHQ</a>.</p>
    </div>
  </div>
</article>-->