<div class="span12">
  <h2><img src="/assets/img/workshops-ribbon.png"></h2>
</div>
<div class="description">
  <p>
    Don't forget to register for one of the three workshops!
    There is no extra charge. All you need is a valid RuLu ticket.
    Register before it's too late!
  </p>
</div>

<div class="span2 workshop">
  <a href="/workshops#rubymotion">
    <img src="/assets/img/facilitators/laurent.png" class="avatar">
  </a>
  <h3>
    <a href="/workshops#rubymotion">RubyMotion</a>
  </h3>
  <p>
    Write your very first iOS app using RubyMotion!
  </p>
  <a class="register" target="_blank" href="https://tito.io/rulu/workshop-rubymotion-rulu-2013?release_id=tpkltjs1yse" title="Register for RubyMotion workshop">Register now</a>
</div>

<div class="span3 workshop">
  <a href="/workshops#rails4">
    <img src="/assets/img/facilitators/damien.jpeg" class="avatar">
  </a>
  <h3>
    <a href="/workshops#rails4">Rails 4</a>
  </h3>
  <p>
    Ready to upgrade to Rails 4?
    You know Rails, but there may be some tricks you don't know!
  </p>
  <a class="register" target="_blank" href="https://tito.io/rulu/workshop-ruby-on-rails-4-rulu-2013?release_id=ejbgdziz0v8" title="Register for Rails4 workshop">Register now</a>
</div>

<div class="span2 workshop">
  <a href="/workshops#codingdojo">
    <img src="/assets/img/facilitators/haikel.jpeg" class="avatar">
  </a>
  <h3>
    <a href="/workshops#codingdojo">Coding Dojo</a>
  </h3>
  <p>
    Practice your skills without worrying about deadlines!
  </p>
  <a class="register" target="_blank" href="https://tito.io/rulu/coding-dojo-rulu-2013?release_id=mekxoxl2vni" title="Register for Coding Dojo">Register now</a>
</div>
