<article>
  <header class="row">
    <div class="span8">
      <h3>
        RubyMotion
      </h3>
      <h4>
        Laurent Sansonetti
        </span>
        <i>from</i>
        <span class="company">
          <a href="http://www.rubymotion.com/">HipByte</a>
        </span>
      </h4>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/lrz">lrz</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/lrz">@lrz</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/facilitators/laurent.png" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
        RubyMotion is a revolutionary toolchain that lets you quickly develop
        and test native iOS and OS X applications for iPhone, iPad and Mac,
        all using the awesome Ruby language you know and love.
      </p>
      <p>
        We will introduce the iOS system, RubyMotion,
        then write our very first iOS app: a timezone converter!
      </p>
      <p>
        This workshop is derived from RubyMotion official training.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>
        Laurent Sansonetti is Belgian software hacker, husband, dad and cat wrangler.
        Founder of HipByte. Creator and developer of RubyMotion and MacRuby.
        Former Apple employee (7 years).
      </p>
    </div>
  </div>
</article>
