<article>
  <header class="row">
    <div class="span8">
      <h3>
        RubyMotion
      </h3>
      <h4>
        Laurent Sansonetti
        </span>
        <i>from</i>
        <span class="company">
          <a href="http://www.rubymotion.com/">HipByte</a>
        </span>
      </h4>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/lrz">lrz</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/lrz">@lrz</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/facilitators/laurent.png" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
        RubyMotion is a revolutionary toolchain that lets you quickly develop
        and test native iOS and OS X applications for iPhone, iPad and Mac,
        all using the awesome Ruby language you know and love.
      </p>
      <p>
        We will introduce the iOS system, RubyMotion,
        then write our very first iOS app: a timezone converter!
        This workshop is derived from RubyMotion official training.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>
        Laurent Sansonetti is Belgian software hacker, husband, dad and cat wrangler.
        Founder of HipByte. Creator and developer of RubyMotion and MacRuby.
        Former Apple employee (7 years).
      </p>
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Rails 4
      </h3>
      <h4>
        Damien Mathieu
        <i>from</i>
        <span class="company">
          <a href="http://shazino.com">Shazino</a>
        </span>
      </h4>
      <div class="span8">
        <span class="speaker-info blog">Blog: <a href="http://dmathieu.com/" target="_blank">dmathieu.com</a></span>
        <span class="speaker-info github">Github: <a href="http://github.com/dmathieu">dmathieu</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/dmathieu">@dmathieu</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/facilitators/damien.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
        Ready to upgrade to Rails 4?
        Even if you're familiar with previous versions of Rails,
        there may be some tricks and tweaks you don't know!
      </p>
      <p>
        The workshop will be split in 3 sessions.
        We first install Rails 4 and Ruby 2,
        and set things up for testing.
        Then, we create a Rails app with basic CRUD scaffolding.
        Finally, we move on to a more advanced Rails app with JSON APIs.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>
        Damien is a software engineer from the marvelous city of Lyon.
        He was one of the organizers of the previous editions of Rulu
        and one of the cofounders of the LyonRB meetups.
        Damien likes tartiflette, free software, wine, clean
        and well tested code and is currently hacking at shazino.
      </p>
    </div>
  </div>
</article>

<article>
  <header class="row">
    <div class="span8">
      <h3>
        Coding Dojo
      </h3>
      <h4>
        Haikel Guémar
        <i>from</i>
        <span class="company">
          <a href="http://www.sysfera.com/">SysFera</a>
        </span>
      </h4>
      <div class="span8">
        <span class="speaker-info github">Github: <a href="http://github.com/hguemar">hguemar</a></span>
        <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/hguemar">@hguemar</a></span>
      </div>
    </div>
    <div class="span2 avatar coverage">
      <img src="/assets/img/facilitators/haikel.jpeg" class="avatar">
    </div>
  </header>
  <div class="row">
    <div class="span8">
      <p>
        A Coding Dojo id merely a gathering of programmers practicing their craft
        without worrying about deadlines or pointy-haired bosses,
        a safe place to practice, experiment and learn new skills.
        More importantly, it's a place to have fun together!
      </p>
      <p>
        After a short introduction to Coding Dojo, we will practice two katas.
        The katas will also focus on SOLID principles and using test doubles.
        You'll practice pair programming, Test-Driven Development,
        emergent design, etc.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>
        Haikel is a software craftsman, currently working at SysFera
        as hacking monkey and AWS trainer.
        On top of that, he has been a Fedora Developer for seven years
        and he co-founded the Lyon Coding Dojo (selfishly, to improve his own skills).
        Haikel likes free software, clean code, agile methods
        and dislikes sloppy coders and clown computing
        (not to be confused with cloud computing!)
      </p>
    </div>
  </div>
</article>
